!!!
%html
  %head
    %title santiago quintana
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/style.css"}
  %body
    .body-container
      .stripes-white
        .stripes-black
          %h1 santiago quintana
          %p
            hi! i love making things so i figure i'd share some of the things i make.
          %h2 i build and maintain the catalytic soundstream
          .image-container
            %img{:src => "img/simon.png"}
          %p
            an artist run and curated, subscription-based streaming service that pays catalytic sound co-op musicians 2/3 of net income generated through listeners' subscriptions
          %p
            if you enjoy experimental and improvised music you will love this. i love it
          %h2 i make music as well
          %p
            i'm working on an digital hardcore/industrial electronic album (i have no idea if any of those ~subgenres~ describe what i make). working title is 'ngn' (pronounced engine)
          %p
            i also play experimental music using a technique called no-input mixing. basically you create non-linear feedback loops in a regular audio mixer and making it sing
          %h2 i also dance
          %p
            you can see some of my dance creations here
          %h2 and i make software full-time
          %p
            i'm a software engineer at txi. i make all sorts of web apps alongside some amazing people and i love it here

